{% extends "./base2.html" %}

{% load humanize %}

{% block jquery %}

	{% include "./dashboard.js" %}


{% endblock %}

{% block body_main %}

<style>
td,th {
	font-family:Copper;
	font-size:10pt;
	text-align:right;
}
.datamain {
	width:100%;
}
.cname {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
.cname2 {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
.detail {
	font-family:verdana;
	font-size:8pt;
}
.marked_line {
	background-color: navajowhite;
	opacity:.7;
}
          

 .flex-head-con {
  display:flex;
  flex-direction:row;
  align-items:align-center;
  
  background-image: linear-gradient(navajowhite,white);
}

 .flex-head-con button {
   background-color: inherit;
   border-style:none;
   cursor:pointer;
 }

.flex-cell {
  padding:.5em;
  font-family:Copper;
  font-size:10pt;
  font-weight:bold;
}
</style>

<form method="POST">
{% csrf_token %}	
<div class="container">
<div class="menubox" >
	<h4 style="text-align:center">Current Covid-19 World Statistics</h4>
	<div class="flex-head-con">
		<div class="flex-cell" style="width:30%">
			<button name="sortfield" value="country">Country</button>
		</div>
		<div class="flex-cell"  style="width:15%">
			<button name="sortfield" value="population">Population</button>
		</div>
		<div class="flex-cell"  style="width:12%">
			<button name="sortfield" value="active">Active</button>
		</div>
		<div class="flex-cell"  style="width:10%">
			<button name="sortfield" value="critical">Critical</button>
		</div>
		<div class="flex-cell"  style="width:11%">
			<button name="sortfield" value="recovered">Recovered</button>
		</div>
		<div class="flex-cell"  style="width:11%">
			<button name="sortfield" value="deaths">Deaths</button>
		</div>
		<div class="flex-cell"  style="width:10%">
			<button name="sortfield" value="total">Totals</button>
		</div>
	</div>		

	<div style="padding:10px;height:400px; overflow:scroll">

		<table class="datamain">

		{% for c in  sorted %}
			{% if c.country != "World" %}
				{% if country == c.country %}
					<tr class="marked_line">
				{% else %}
					<tr>

				{% endif %}
					<td style="text-align:left"><button class="cname" name="country_select" value="{{c.country}}">{{ c.country}}</button></td>


				{% if c.cdata.population|add:0 > 0  %}
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cdata.population|intcomma }}</button></td>
				{% else %}	
					<td><button class="cname2" name="country_select" value="{{c.country}}"> -- </button></td>
				{% endif %}
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.active|intcomma }}</button></td>
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.critical|intcomma  }}</button></td>
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.recovered|intcomma  }}</button></td>
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.deaths.total|intcomma  }}</button></td>
					<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.total|intcomma  }}</button></td>	
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	</div>
	{% if country %}
	<div class="menubox">

		<div class="row">
			<div class="col-sm-6" style="border-right:1px solid green">
				<h5>Daily Statistics Death, Critical and Recovered</h5>
				<canvas id="myChart" ></canvas>
			</div>
			<div class="col-sm-6">
				<h5>Daily Increase of Deaths</h5>
				<canvas id="pie-chart" width="800" height="450"></canvas>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% if sort_select %}
	<input type="hidden" name="sort_select" value="{{ sort_select }}">
{% endif %}
</form>
{% endblock %}	
