{% extends "./base2.html" %}

{% load humanize %}

{% block jquery %}

	{% include "./dashboard.js" %}


{% endblock %}

{% block body_main %}

<style>
td,th {
	font-family:Copper;
	font-size:10pt;
	text-align:right;
}
.datamain {
	width:100%;
}
.cname {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
.cname2 {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
.detail {
	font-family:verdana;
	font-size:8pt;
}
.marked_line {
	background-color: navajowhite;
	opacity:.7;
}
          

 .flex-head-con {
  display:flex;
  flex-direction:row;
  align-items:align-center;
}



.flex-cell {
  padding:1em;
  font-family:Copper;
  font-size:9pt;
  font-weight:bold;
}
</style>

<form method="POST">

<button name="load_country_db" value=1>Load Country Database</button>	
{% csrf_token %}	
<div class="container">
<div class="menubox" >
	<h3 style="text-align:center">Current Covid-19 Statistics</h3>
	<div class="flex-head-con">
		
		<div class="flex-cell" style="width:35%">Country</div>
		<div class="flex-cell"  style="width:15%">Population</div>
		<div class="flex-cell"  style="width:10%">Active</div>
		<div class="flex-cell"  style="width:10%">Critical</div>
		<div class="flex-cell"  style="width:10%">Recovered</div>
		<div class="flex-cell"  style="width:10%">Deaths</div>
		<div class="flex-cell"  style="width:10%">Totals</div>
	</div>		

	<div style="padding:10px;height:400px; overflow:scroll">

		<table class="datamain">

		{% for c in  sorted %}
			{% if c.country != "World" and c.cdata.population|add:0 > 0 %}
		{% if country == c.country %}
			<tr class="marked_line">
		{% else %}
			<tr>

		{% endif %}
				<td style="text-align:left"><button class="cname" name="country_select" value="{{c.country}}">{{ c.country}}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.cdata.population}}">{{ c.cdata.population|intcomma }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.active|intcomma }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.critical|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.recovered|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.deaths.total|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.total|intcomma  }}</button></td>	
			</tr>

			{% endif %}
		{% endfor %}
		</table>
	</div>
	</div>
	{% if country %}
	<div class="menubox">

		<div class="row">
			<div class="col-sm-6" style="border-right:1px solid green">
				<h5>Daily Statistics Death, Critical and Recovered</h5>
				<canvas id="myChart" ></canvas>
			</div>
		
			<div class="col-sm-6">
				<h5>Daily Increase of Deaths</h5>
				<canvas id="pie-chart" width="800" height="450"></canvas>
			</div>
		</div>
	</div>
	{% endif %}

</div>
</form>

{% endblock %}	
