{% extends "./base2.html" %}

{% load humanize %}

{% block jquery %}

	{% include "./dash2.js" %}


{% endblock %}

{% block body_main %}

<style>
				
.stdbutt {
	background-color:snow;
	color:#101010;
	width:80%;
	cursor:pointer;
	border-style:none;
	padding:5px;
	font-family:Copper;
	text-align:left;
	display:inline;
}
.hlbutt {
	background-color:navajowhite;
	color:#101010;
	opacity:.5;
	width:80%;
	cursor:pointer;
	border-style:none;
	padding:5px;
	font-family:Copper;
	text-align:left;
	display:inline;

}
</style>

<form method="POST">
{% csrf_token %}	
<div class="container">
	<div class="menubox">
		<h3 style="text-align:center">Covid 19 United States Information</h3>
		<div class="flex-con">
		{% for s in states %}
			<div style="width:16%;border:1px solid #ddd">
				{% if s.abbrev == state %}
					<button class="hlbutt" name="state_select" value="{{s.abbrev}}">{{s.name}} </button>
				{% else %}
					<button class="stdbutt" name="state_select" value="{{s.abbrev}}">{{s.name}} </button>
				{% endif %}
				<a href="{{s.url}}" target="_new"><img style="width:10%" src="/static/img/info.png"></a>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="menubox">
		<div class="row">
			<div style="border-right:1px solid green" class="col-md-6">
				<canvas id="chart2" ></canvas>

			</div>
			<div class="col-md-6">
				<canvas id="myChart" ></canvas>
				
			</div>
		</div>
	</div>
</div>
</form>
{% endblock %}	
