{% extends "./base2.html" %}

{% load humanize %}

{% block jquery %}

	{% include "./dashboard.js" %}


{% endblock %}

{% block body_main %}

<style>
td,th {
	font-family:Copper;
	font-size:12pt;
	text-align:right;
}
.cname {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;
	font-size:18pt;

}
.cname2 {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;
	font-size:12pt;

}
.detail {
	font-family:verdana;
	font-size:8pt;
}
.marked_line {
	background-color: navajowhite;
	opacity:.7;
}

</style>

<form method="POST">
{% csrf_token %}	
<div class="container">

	<div class="menubox" style="height:400px; overflow:scroll">
	<h3 style="text-align:center">
		Current Covid-19 Statistics</h3>
		<table class="table">
			<tr>
				<th style="text-align:left">Country (click for detail)</th>
				<th>Active</th>
				<th>Critical
				<th>Recovered</th>
				<th>Deaths</th>
				<th>Totals</th>
			</tr>
		{% for c in  sorted %}
			{% if c.country != "World" %}
		{% if country == c.country %}
			<tr class="marked_line">
		{% else %}
			<tr>

		{% endif %}
				<td style="text-align:left"><button class="cname" name="country_select" value="{{c.country}}">{{ c.country}}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.active|intcomma }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.critical|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.recovered|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.deaths.total|intcomma  }}</button></td>
				<td><button class="cname2" name="country_select" value="{{c.country}}">{{ c.cases.total|intcomma  }}</button></td>	
			</tr>

			{% endif %}
		{% endfor %}
		</table>
	</div>
	{% if country %}
	<div class="menubox">

		<div class="row">
			<div class="col-sm-6" style="border-right:1px solid green">
				<h5>Daily Statistics Death, Critical and Recovered</h5>
				<canvas id="myChart" ></canvas>
			</div>
		
			<div class="col-sm-6">
				<h5>Daily Increase of Deaths</h5>
				<canvas id="pie-chart" width="800" height="450"></canvas>
			</div>
		</div>
	</div>
	{% endif %}

</div>
</form>

{% endblock %}	
