{% extends "./base2.html" %}

{% load humanize %}

{% block jquery %}

	{% include "./dash2.js" %}


{% endblock %}

{% block body_main %}

<style>

 .flex-head-con {
	  display:flex;
	  flex-direction:row;
	  align-items:align-center;
	  background-image: linear-gradient(navajowhite,white);
}

 .flex-head-con button {
   background-color: inherit;
   border-style:none;
   cursor:pointer;
 }				
.flex-cell {
	text-align:center;
	
}
.stdbutt {
	background-color:snow;
	color:#101010;
	width:80%;
	cursor:pointer;
	border-style:none;
	padding:5px;
	font-family:Copper;
	text-align:left;
	display:inline;
}
.hlbutt {
	background-color:navajowhite;


}
.scroll_div {
	height:500px;
	overflow-y: scroll;
}
.state_table {
	width:100%;
	
}
.state_table td {
	text-align:right;
	padding:.5em;
}
.state_table th {
	text-align:left;
	padding:.5em;
}
td,th {
	font-family:Copper;
	font-size:10pt;
	text-align:right;
}
.datamain {
	width:100%;
}
.cname {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
.cname2 {
	border:none;
	background-color:inherit;
	cursor:pointer;
	color:navy;

}
</style>

<form method="POST">
{% csrf_token %}	
<div class="container">
	<div class="menubox">
		
  	 	<h4 style="text-align:center">Current Covid-19 State Statistics</h4>

		<div class="flex-head-con">
			<div class="flex-cell" style="width:28%">
				<button name="sortfield" value="state">State</button>
			</div>
			<div class="flex-cell"  style="width:10%">
				<button name="sortfield" value="tested">Tested</button>
			</div>
			<div class="flex-cell"  style="width:10%">
				<button name="sortfield" value="positive">Positive</button>
			</div>
			<div class="flex-cell"  style="width:10%">
				<button name="sortfield" value="deaths">Deaths</button>
			</div>
     		<div class="flex-cell"  style="width:15%">
				<button name="sortfield" value="date">Date</button>
			</div>
     		<div class="flex-cell"  style="width:15%">Info</div>
	
		</div>		
		<div class="scroll_div">
			<table class="state_table">
				{% for l in latest  %}
					
						{% if l.states.abbrev == state %}
							<tr class="hlbutt">
						{% else %}
							<tr>
						{% endif %}
					<td style="width:2%">{{ forloop.counter }}</td>	

					<td  style="width:26%;text-align:left">
						<button class="cname2" name="state_select" value="{{ l.states.abbrev }}">{{ l.states.name }} ({{ l.states.abbrev }})  </button>
					</td>
					<td   style="width:10%">{{ l.tested }}</td>
					<td  style="width:10%">{{ l.positive }}</td>
					<td   style="width:10%">{{ l.deaths }}</td>
					<td   style="width:15%">{{ l.time }}</td>
					<td   style="width:15%;text-align:center">
						<a href="{{l.states.url}}" target="_new"><img style="width:20px" src="/static/img/info.png"></a>
					</td>
					<td style="width:12%">
						-
					</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div>
		<button name="synch_data" value="1">Synch State Data Base</button>

	</div>
	<div class="menubox">
		<div class="row">
			<div style="border-right:1px solid green" class="col-md-6">
				<canvas id="chart2" ></canvas>

			</div>
			<div class="col-md-6">
				<canvas id="myChart" ></canvas>
				
			</div>
		</div>
	</div>
</div>
{% if sort_select %}
	<input type="hidden" name="sort_select" value="{{ sort_select }}">
{% endif %}
</form>

{% endblock %}	
